/***************************************************/
/* ---- GLOBAL STYLING --------------------------- */
/***************************************************/

/* <Client Name> */
/* <Project Name>*/ 

/* TOC */
/*  1. Global Constants */
/*  2. CSS Reset */
/*  3. Layout */
/*  4. Content */


/***************************************************/
/* 1. GLOBAL CONSTANTS --------------------------- */
/***************************************************/

/* CAMEL CASE FORMAT */
$backgroundColor : #666;
$fontColor :  #333;
$contentBackgroundColor :  #fff;

/*------------------------------------------------ */
/* IMPORTS                                         */
/*------------------------------------------------ */
@import "reset";

/*Compass Reset*/
/*@import "compass/reset";*/
