/* --------------------------- */
/* ---- BASE SASS STYLING ---- */
/* ---------------------------- */

/* <Client Name>*/
/* <Project Name>*/


/* 1. IMPORT CSS RESET*/
/*------------------------------------------------ */
@import "reset";


/* 1. GLOBAL VARIABLES*/
/* CAMEL CASE FORMAT */
/*------------------------------------------------ */

$backgroundColor : #666;
$fontColor :  #333;
$contentBackgroundColor :  #fff;