/***************************************************/
/*  3. LAYOUT -----------------------------------  */
/***************************************************/


/*------------------------------------------------ */
/* GENERAL                                         */
/*------------------------------------------------ */

body{
  color: $fontColor;
  background-color: $backgroundColor;  
}

div[role="main"]{
  background-color: $contentBackgroundColor; 
}

h1{
  font-size:150%;
}

/*------------------------------------------------ */
/*  HEADER                                         */
/*------------------------------------------------ */




/*------------------------------------------------ */
/*  FOOTER                                         */
/*------------------------------------------------ */