/* ------------------------ */
/* ---- GLOBAL STYLING ---- */
/* ------------------------ */

/* <Client Name> */
/*	<Project Name>*/

/* TOC */
/*	1. Import SASS base */
/*	2. General */
/*	3. Header */
/*	4. Footer */
/*	5. Content */

/* 1. IMPORT SASS BASE*/
/*------------------------------------------------ */
@import "base";

/* 2. GENERAL*/
/*------------------------------------------------ */
body{
  color: $fontColor;
  background-color: $backgroundColor;  
}

div[role="main"]{
  background-color: $contentBackgroundColor; 
}

h1{
  font-size:150%;
}
/* 3. HEADER*/
/*------------------------------------------------ */


/* 4. FOOTER */
/*------------------------------------------------ */


/* 5. CONTENT*/
/*------------------------------------------------ */

