// Use Compass ('cause it rocks!)
//@import "compass";

// Font weights
$font-light: 100;
$font-regular: 400;
$font-bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $font-regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $font-bold;

@import "modules/all";