/* ------------------------ */
/* ---- GLOBAL STYLING ---- */
/* ------------------------ *

** <Client Name>
*    <Project Name>

** TOC 
    1. CSS Reset
    2. General
    3. Header
    4. Footer
    5. Content */


/* 1. CSS RESET
------------------------------------------------ */

/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 2. GENERAL
------------------------------------------------ */

/* ::::: Helpers ::::: */

.ir {
    position: relative;
    overflow: hidden;
}

.ir span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: no-repeat 0 0;
}

.clear {
    clear: both;
}

/* 3. HEADER
------------------------------------------------ */


/* 4. FOOTER
------------------------------------------------ */


/* 5. THUMB NAVIGATION
------------------------------------------------ */

#container {
    margin: 30px 250px;
    padding: 0 20px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.carousel-wrapper {
    position: relative;
    background: gray;
    width: 100%;
    min-width: 400px;
    height: 150px;
}

.carousel-wrapper a.arrow {
    display: none;
    width: 19px;
    height: 31px;
    position: absolute;
    color: red;
    top: 45px;
}

.carousel-wrapper a.arrow span {
    background-image: url(../img/arrows.png);
}

.carousel-wrapper a.prev-arrow {
    left: 10px;
}

.carousel-wrapper a.prev-arrow span {
    background-position: left bottom;
}

.carousel-wrapper a.next-arrow {
    right: 10px;
}

.carousel {
    background: green;
    position: relative;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel ul {
    display: block;
    position: absolute;
    height: 100px;
}

.carousel ul li {
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 47%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(47%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 47%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 47%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 47%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 47%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.carousel ul li p {
    display: block;
    margin: 40px 0 0;
    text-align: center;
}


